.form-horizontal .control-label {
    text-align: left;
}

.title {
    margin : 0 0 40px;
    text-align: center;
    color: #8D8D8D;
}

/*если подключаем расчет по месяцам*/
/*#res {
    display: none;
}*/

.error {
    color: #ff0000;
    margin: 0;
}

.left {
    background-color: white;
    padding-top: 10px;
    color: #8D8D8D;
    min-height: 180px;
}

.right table {
    background-color: #16B558;
    color: #fff;
    min-height: 180px;
}
