<!doctype html>
<html lang="ru" ng-app="creditCalc">
<head>
    <meta charset="UTF-8">
    <title>Кредитный калькулятор</title>

    <link href="css/styles.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://rawgit.com/rzajac/angularjs-slider/master/dist/rzslider.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.14.3/ui-bootstrap-tpls.js"></script>
    <script src="https://rawgit.com/rzajac/angularjs-slider/master/dist/rzslider.js"></script>
    <script src="js/calc.js"></script>
</head>
<body>

<div class="container" ng-controller="calcCtrl">
    <div class="jumbotron">

        <div class="row">
            <h2 class="title">Кредитный калькулятор</h2>
        </div>

        <div class="row">
            <div class="col-md-8 left">
                <form class="form-horizontal" ng-submit="action()">

                    <div class="form-group">
                        <label for="sum" class="col-md-3 control-label">Сумма кредита ( в рублях ):</label>

                        <div class="col-md-2">
                            <input type="text" class="form-control" id="sum" ng-model="sumSlider">
                        </div>

                        <div class="col-md-6">
                            <rzslider rz-slider-model="sumSlider"></rzslider>
                        </div>

                        <span class="help-block error">{{errors.zadoljnost}}</span>
                    </div>

                    <div class="form-group">
                        <label for="date" class="col-md-3 control-label">Срок кредита ( в месяцах ):</label>

                        <div class="col-md-2">
                            <input type="text" class="form-control" id="date" ng-model="timeSlider">
                        </div>

                        <div class="col-md-6">
                            <rzslider rz-slider-model="timeSlider"></rzslider>
                        </div>

                        <span class="help-block error">{{errors.timeCredit}}</span>
                    </div>

                    <div class="form-group">
                        <label for="percents" class="col-md-3 control-label">Процентная ставка:</label>

                        <div class="col-md-2">
                            <input type="text" class="form-control" id="percents" ng-model="percentSlider">
                        </div>

                        <div class="col-md-6">
                            <rzslider rz-slider-model="percentSlider"></rzslider>
                        </div>

                        <span class="help-block error">{{errors.percentRateCredit}}</span>
                    </div>
                    <div class="form-group">
                        <div class="col-md-10">
                            <button type="submit" class="btn btn-sm btn-primary" ng-click="action()">Рассчитать</button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="col-md-4 right">
                <table class="table">
                    <thead>
                        <tr>
                            <td><h4>Результат</h4></td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Вы берете</td>
                            <td>{{sumSumSlider.toLocaleString()}}</td>
                        </tr>
                        <tr>
                            <td>Вы возвращаете</td>
                            <td>{{sumSumPlatej.toLocaleString()}}</td>
                        </tr>
                        <tr>
                            <td>Переплата</td>
                            <td>{{sumNa4islProcenti.toLocaleString()}}</td>
                        </tr>
                        <tr>
                            <td>Срок кредитования</td>
                            <td>{{timeStr}}</td>
                        </tr>
                        <tr>
                            <td>Процентная ставка</td>
                            <td>{{percentStr}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <table id="res" class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>№ Платежа</th>
                    <th>Задолжность по кредиту (руб.)</th>
                    <th>Начисленные проценты (руб.)</th>
                    <th>Основной долг (руб.)</th>
                    <th>Сумма платежа (руб.)</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="result in results">
                    <td>{{$index + 1}}</td>
                    <td>{{result.zadoljnost}}</td>
                    <td>{{result.na4islProcenti}}</td>
                    <td>{{result.osnovnoiDolg}}</td>
                    <td>{{result.sumPlatej}}</td>
                </tr>
                <tr class="info">
                    <td colspan="2"><b>Итого:</b></td>
                    <td>{{sumNa4islProcenti.toLocaleString()}}</td>
                    <td>{{sumSumSlider.toLocaleString()}}</td>
                    <td>{{sumSumPlatej.toLocaleString()}}</td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>

</body>
</html>
